<div class="card">
  <img
    class="card-img-top"
    src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
    alt="Card image cap"
  />
  <div class="card-body">
      <div>
          <h5 class="card-title">Portatil</h5>
          <h5 class="card-title text-right">$5</h5>
      </div>

    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-muted"></small>
    </p>
    <a class="btn btn-outline-primary" (click)="onBuy.open()">Comprar</a>
  </div>
</div>
<app-base-modal #onBuy [target]="'buy'"></app-base-modal>

