<div class="row ">
  <div class="col-4 mb-4" *ngFor="let product of products">
 <div class="card">
      <img class="card-img-top" [src]="product.img" alt="Card image cap" />
      <div class="card-body">
        <div>
          <h5 class="card-title">{{ product.name }}</h5>
          <h5 class="card-title text-left">${{ product.price }} USD</h5>
        </div>

        <p class="card-text">
          {{ product.description | slice:0:30}}
        </p>
        <p class="card-text">
          <small class="text-muted"></small>
        </p>

        <ng-template *ngIf="isAuth; then buy; else login"></ng-template>

        <ng-template #buy>
          <a class="btn btn-outline-primary" (click)="onBuy.open(product)">Comprar</a>
        </ng-template>

        <ng-template #login>
          <a class="btn btn-outline-primary" (click)="onLogin.open()"
            >Iniciar Sesion</a
          >
        </ng-template>
      </div>
    </div>
  </div>
  </div>

<app-base-modal #onBuy [target]="'buy'"></app-base-modal>
<app-base-modal #onLogin [target]="'login'"></app-base-modal>
