<ng-template #divModal let-modal>
    <div class="rounded-0 bg-white">
        <app-sign-up
          *ngIf="target === 'register'"
          (cerrarModal)="modal.close()"
          [user]="data"
          (dataUser)="dataUser($event)"        
        ></app-sign-up>

        <app-form
        *ngIf="target === 'buy'"
        (cerrarModal)="modal.close()"          
      ></app-form>

        <app-sign-in
        *ngIf="target === 'login'"
        (cerrarModal)="modal.close()"
        [user]="data"
      ></app-sign-in>    
    </div>
</ng-template>