
<div class="container mt-3 mb-3 modal-content rounded-0" style="width: 390px; height: auto">
    <!-- Modal Header -->
    <div class="modal-header">
      <span class="modal-title exo mt-1 mb-0" style="font-size: 16px"
        >CREATE USER</span
      >
     <app-button-close
        [addClassTopRight]="false"
        (cerrarModal)="cerrar($event)"
      ></app-button-close> 
    </div>
    <!-- Modal body -->
    <form
      class="modal-body p-3"
      (ngSubmit)="handleForm()"
      [formGroup]="forma"
    >
    <div class="mb-2 text-right" style="height: 50px">
      
      <input
        type="email"
        class="form-control exo text-field shadow-none"
        placeholder="Correo Electronico"
        formControlName="email"
        #email
      />
    <app-validation-errors [formulario]="forma" formControlLabel="email" [minlenght]=3 [maxlenght]=100>
      </app-validation-errors> 
     </div>
    
      <div class="mb-2 text-right" style="height: 50px">
        <input
          type="text"
          class="form-control exo text-field shadow-none"
          placeholder="Nombre"
          formControlName="first_name"
          #nombre
        />
       <app-validation-errors [formulario]="forma" formControlLabel="first_name" [minlenght]=3 [maxlenght]=100>
        </app-validation-errors> 
       </div>
       <div class="mb-2 text-right" style="height: 50px">
        <input
          type="text"
          class="form-control exo text-field shadow-none"
          placeholder="Apellido"
          formControlName="last_name"
          #apellido
        />
        <app-validation-errors [formulario]="forma" formControlLabel="last_name" [minlenght]=3 [maxlenght]=100>
        </app-validation-errors> 
       </div>


       <div class="mb-2 text-right" style="height: 50px">
         <select formControlName="type_document" class="form-control exo text-field shadow-none">
          <option>Seleccione el tipo de documento</option>
          <option *ngFor="let document of type_document">{{document}}</option>
        </select> 
        <app-validation-errors [formulario]="forma" formControlLabel="type_document">
        </app-validation-errors> 
        </div>


       <div class="mb-2 text-right" style="height: 50px">

        <input
        type="text"
        class="form-control exo text-field shadow-none"
        placeholder="Documento de identidad"
        formControlName="document"
        #document
      />

        <app-validation-errors [formulario]="forma" formControlLabel="document">
        </app-validation-errors> 
       </div>

       <div class="mb-2 text-right" style="height: 50px">

        <input
        type="password"
        class="form-control exo text-field shadow-none"
        placeholder="Contraseña"
        formControlName="password"
        #password
      />

        <app-validation-errors [formulario]="forma" formControlLabel="password">
        </app-validation-errors> 
       </div>
  
       <div class="mb-2 text-right" style="height: 50px">

        <input
        type="password"
        class="form-control exo text-field shadow-none"
        placeholder="Confirmar contraseña"
        formControlName="password_confirmation"
        #password_confirmation
      />

        <app-validation-errors [formulario]="forma" formControlLabel="password_confirmation">
        </app-validation-errors> 
       </div>
  
  
      <button
        type="submit"
        class="btn btn-outline-success aldrich shadow-none rounded-0"
        style="width: 100%; height: 50px; opacity: 1"
        data-dismiss="modal"
        [disabled]="
          forma.invalid || forma.pristine 
        "
      >
        CREATE
      </button>
    </form>
  </div>
